.issue{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), -3px -3px 10px rgba(255, 255, 255, 0.192);
    padding: 2vh;
    border-radius: 20px;
    margin: .2vw;
    color: white;
}

.statusHeader{
    color: white;
    margin-bottom: 3vh;
    border-bottom: solid 1px rgb(255, 255, 255);
    width: 80%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.issueStatus{
    border-right: solid 2px rgb(29, 31, 39);
    ;
    height: 90vh;
    /* top: 10vh; */
    position: relative;
    display: table-cell;
    text-align: center;
    background-image: linear-gradient(rgb(34, 35, 39),rgb(56, 55, 63));

}
.issueContainer{
    display: table;
    width: 100%;
    position: relative;
    table-layout: fixed; 
}
.addIssue{
    position: absolute;
    width: 8vh;
    height: 8vh;
    background-image: radial-gradient(rgb(56, 55, 63), rgb(34, 35, 39));
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.726), -3px -3px 20px rgba(102, 181, 255, 0.74);
    font-size: 5vh;
    color: white;
    border-radius: 100%;
    text-align: center;
    bottom: 5vh;
    right: 5vh;
    transition: width 1s, height 1s;

}
.addIssue:hover{
    transition: width 1s, height 1s;
    width: 10vh;
    height: 10vh;
}